[user]
	name = Josh Friedman
	email = jofriedm@microsoft.com
[core]
	autocrlf = true
	editor = 'C:\\Program Files (x86)\\Notepad++\\notepad++.exe' -multiInst -nosession
	excludesfile = C:\\Users\\jofriedm\\Documents\\gitignore_global.txt
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
[difftool "sourcetree"]
	cmd = 'C:/Program Files/Perforce/p4merge.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files (x86)/Beyond Compare 2/BComp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[alias]
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
